*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    text-decoration: none !important;
}


/*-----Get in Touch----*/

#contact{
    background: red;
    padding: 20px;   
}

#contact h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
#contact .contact-form{
    padding: 15px;
    margin-top: 10px;
}

#contact .form-group{
    margin-top: 10px;
}
#contact .address{
    border: 1px solid #fff;
    background: #fff;
    padding: 10px;
    margin: 15px;
}
#contact .contact-info{
    margin-top: 20px;
}
#contact .contact-info .fa{
    margin: 10px;
    color: #007bff !important;
    font-weight: bold;
}
#contact .contact-info span{
    color: #b4b4b4;
    font-weight: bold;
}

/*-----Footer----*/

#footer{
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o{
    margin: 3px;
    color: red;
}